<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
        <handlers>
            <remove name="Plesk_Handler_1884436131" />
            <remove name="Plesk_Handler_0-1847190105" />
            <add name="Plesk_Handler_0-1847190105" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files\Parallels\Plesk\Additional\PHP5317\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="Plesk_Handler_1884436131" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files\Parallels\Plesk\Additional\PHP5317\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Re-escreve url" enabled="true" stopProcessing="true">
                    <match url="^/?(.*)/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?p={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
